<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="center-block">
      <form (ngSubmit)="login(localState.email, localState.password)" autocomplete="off">

        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            [value]="localState.email"
            (input)="localState.email = $event.target.value"
            placeholder="Username">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            id="password"
            [value]="localState.password"
            (input)="localState.password = $event.target.value"
            placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
