<div class="row">
  <div class="center-block">
    <div class="col-md-8 col-md-offset-2">
      <form (submit)="submitSearch()" autocomplete="off">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            id="name"
            [(ngModel)]="searchName"
            name="name"
            placeholder="Event Name"
          >
        </div>

        <div class="form-group">
          <location-form
            [locationId]="'Search Location'"
            [location]="searchLocation"
            [showCircle]="true"
            [radius]="searchRadius">
          </location-form>
        </div>

        <div class="form-group">
          <label for="radius">Search radius</label>
          <select
            class="form-control"
            id="radius"
            [(ngModel)]="searchRadius"
            name="radius"
          >
            <option [ngValue]="1000">1km</option>
            <option [ngValue]="10000">10km</option>
            <option [ngValue]="100000">100km</option>
            <option [ngValue]="500000">500km</option>
            <option [ngValue]="1000000">1000km</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Search</button>

      </form>
      <span class="col-md-3 pull-right">Result Count: {{lastResults.length}}</span>
      <hr>
      <div *ngFor="let event of lastResults">
        <div class="row">
          <h3>{{event.name}}</h3>
          <span class="col-md-2 pull-right"><button class="btn btn-primary" (click)="joinEvent(event.id)">Join</button></span>
        </div>
        <div class="row">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
