<nav class="container-fluid">
  <!--a [routerLink]=" ['./'] " routerLinkActive="active">
    Index
  </a>
  <a [routerLink]=" ['./home'] " routerLinkActive="active">
    Home
  </a>
  <a [routerLink]=" ['./detail'] " routerLinkActive="active">
    Detail
  </a>
  <a [routerLink]=" ['./barrel'] " routerLinkActive="active">
    Barrel
  </a>
  <a [routerLink]=" ['./about'] " routerLinkActive="active">
    About
  </a-->
  <div class="row">
    <div class="col-md-2">
      <h4>EventRunner</h4>
    </div>

    <div class="col-md-3 col-md-offset-7">
      <a class="btn btn-primary pull-right" [routerLink]=" ['./signup'] " *ngIf=!loggedIn()>Sign Up</a>
      <a class="btn btn-primary pull-right" [routerLink]=" ['./login'] " *ngIf=!loggedIn()>Log In</a>
      <button class="btn btn-primary pull-right" *ngIf=loggedIn() (click)="logout()">Log Out</button>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<!-- <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre> -->

<footer>
  <span>WebPack Angular 2 Starter by <a [href]="url">@EventRunner</a></span>
  <div>
    <a [href]="url">
      <img [src]="angularclassLogo" width="25%">
    </a>
  </div>
</footer>
