<div>
  <div class="row">
    <h1 class="col-md-12">Profile</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="center-block">
        <form (submit)="updateProfile()" autocomplete="off">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input
              class="form-control"
              id="firstname"
              [(ngModel)]="profile.firstname"
              name="firstname"
              placeholder="First Name">
          </div>

          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
              class="form-control"
              id="lastname"
              [(ngModel)]="profile.lastname"
              name="lastname"
              placeholder="Last Name">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              class="form-control"
              id="email"
              [(ngModel)]="profile.email"
              name="email"
              placeholder="Emal Address"
              readonly="true">
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="col-md-offset-1 col-md-1">Achievements</h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="center-block">
        Collect achievements by participating in events.
      </div>
    </div>
  </div>
</div>
