<div>
  <h1>Dashboard</h1>
  <h2>Currently Running Events</h2>
  <tabset>
    <tab heading="Host">
      <h3>Your events that are currently running</h3>
      <div *ngIf="hosted.length > 0">
      </div>
      <div *ngIf="hosted.length < 1">
        None
      </div>
      <button class="btn btn-primary">Create Event</button>
    </tab>
    <tab heading="Participant">
      <h3>Running events that you are participating in</h3>
      <div *ngIf="participating.length > 0">
      </div>
      <div *ngIf="participating.length < 1">
        None
      </div>
      <button class="btn btn-primary">Join Event</button>
    </tab>
  </tabset>
</div>
