<div class="row">
  <h1>Event</h1>
</div>
<div class="row">
  <div class="center-block">
    <div class="col-md-8 col-md-offset-2">
      <form (submit)="saveEvent()" autocomplete="off">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            class="form-control"
            id="name"
            [(ngModel)]="event.name"
            name="name"
            placeholder="Event Name" required>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            [(ngModel)]="event.description"
            name="description"
            placeholder="Describe your event">
        </div>

        <div class="form-group">
          <label for="start">Start Date</label>
          <div id="start" class="row">
            <div class="col-md-5" style="display:inline-block; min-height:290px;">
              <datepicker [showWeeks]="false" [minDate]="minDate" [(ngModel)]="event.start" name="start-date"></datepicker>
            </div>
            <!-- <div class="col-md-1">
              at
            </div> -->
            <div class="col-md-offset-1 col-md-6">
              <timepicker [(ngModel)]="event.start" name="start-time"></timepicker>
            </div>
          </div>
        </div>

        <div class="form-group">
          <location-form [locationId]="'Starting Location'" [location]="event.location"></location-form>
          <!-- <label for="location">Starting Location</label>
          <div class="form-group">
            <input id="location" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
          </div>
          <div id="start">
            <sebm-google-map [latitude]="event.lat" [longitude]="event.lng" [zoom]="12"
              (mapClick)="mapClicked($event)">
              <sebm-google-map-marker [latitude]="event.lat" [longitude]="event.lng" [markerDraggable]="true"
                (dragEnd)="markerDragEnded($event)"></sebm-google-map-marker>
            </sebm-google-map>
          </div>
          <div class="form-group row">
            <span class="col-md-4">Latitude: {{event.lat}}</span>
            <span class="col-md-4">Longitude: {{event.lng}}</span>
          </div> -->
        </div>

        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>
